'.source.abp':
  'editor':
    'commentStart': '* '
    'completions': [
      'abs'
      'acos'
      'add'
      'add-corresponding'
      'adjacent'
      'after'
      'aliases'
      'all'
      'analyzer'
      'and'
      'any'
      'append'
      'appending'
      'as'
      'ascending'
      'asin'
      'assign'
      'assigned'
      'assigning'
      'at'
      'atan'
      'authority-check'
      'avg'
      'back'
      'before'
      'begin'
      'binary'
      'bit'
      'bit-and'
      'bit-not'
      'bit-or'
      'bit-xor'
      'blank'
      'block'
      'bound'
      'break-point'
      'buffer'
      'by'
      'call'
      'case'
      'catch'
      'ceil'
      'centered'
      'class'
      'class-data'
      'class-events'
      'class-methods'
      'class-pool'
      'clear'
      'client'
      'close'
      'cnt'
      'code'
      'collect'
      'color'
      'comment'
      'commit'
      'communication'
      'compute'
      'concatenate'
      'condense'
      'constants'
      'context'
      'contexts'
      'continue'
      'control'
      'controls'
      'conversion'
      'convert'
      'copy'
      'corresponding'
      'cos'
      'cosh'
      'count'
      'country'
      'create'
      'currency'
      'cursor'
      'customer-function'
      'data'
      'database'
      'dataset'
      'decimals'
      'default'
      'define'
      'definition'
      'delete'
      'delete'
      'demand'
      'descending'
      'describe'
      'dialog'
      'distinct'
      'div'
      'divide'
      'divide-corresponding'
      'do'
      'duplicates'
      'dynpro'
      'edit'
      'editor-call'
      'else'
      'elseif'
      'encoding'
      'end'
      'endat'
      'endcase'
      'endcatch'
      'endclass'
      'enddo'
      'endexec'
      'endform'
      'endfunction'
      'endchain'
      'endif'
      'endinterface'
      'endloop'
      'endmethod'
      'endmodule'
      'end-of-definition'
      'end-of-page'
      'end-of-selection'
      'endon'
      'endprovide'
      'endselect'
      'endtry'
      'endwhile'
      'entries'
      'errors'
      'events'
      'exceptions'
      'excluding'
      'exec'
      'exit'
      'exit-command'
      'exp'
      'exponent'
      'export'
      'exporting'
      'extended'
      'extract'
      'fetch'
      'field'
      'field-groups'
      'fields'
      'field-symbols'
      'first'
      'floor'
      'for'
      'form'
      'format'
      'frac'
      'frame'
      'free'
      'from'
      'function'
      'function-pool'
      'generate'
      'get'
      'group'
      'handler'
      'hashed'
      'header'
      'help-id'
      'help-request'
      'hide'
      'hotspot'
      'chain'
      'change'
      'changing'
      'check'
      'checkbox'
      'icon'
      'id'
      'if'
      'ignoring'
      'implementation'
      'import'
      'importing'
      'include'
      'index'
      'infotypes'
      'initialization'
      'inner'
      'input'
      'insert'
      'intensified'
      'interface'
      'interface-pool'
      'interfaces'
      'into'
      'inverse'
      'join'
      'key'
      'language'
      'last'
      'leave'
      'left'
      'left-justified'
      'length'
      'like'
      'line'
      'line-count'
      'lines'
      'line-selection'
      'line-size'
      'listbox'
      'list-processing'
      'load'
      'load-of-program'
      'local'
      'locale'
      'log'
      'log10'
      'loop'
      'lower'
      'margin'
      'mask'
      'matchcode'
      'max'
      'memory'
      'message'
      'message-id'
      'messages'
      'method'
      'methods'
      'min'
      'mod'
      'mode'
      'modif'
      'modify'
      'module'
      'move'
      'move-corresponding'
      'multiply'
      'multiply-corresponding'
      'new'
      'new-line'
      'new-page'
      'next'
      'no'
      'nodes'
      'no-gap'
      'no-gaps'
      'no-heading'
      'non-unique'
      'no-scrolling'
      'no-sign'
      'no-title'
      'no-zero'
      'object'
      'obligatory'
      'occurs'
      'of'
      'off'
      'on'
      'open'
      'or'
      'order'
      'others'
      'outer'
      'output'
      'overlay'
      'pack'
      'page'
      'parameter'
      'parameters'
      'perform'
      'pf-status'
      'position'
      'print'
      'print-control'
      'private'
      'process'
      'program'
      'property'
      'protected'
      'provide'
      'public'
      'put'
      'radiobutton'
      'raise'
      'raising'
      'range'
      'ranges'
      'read'
      'receive'
      'receiving'
      'refresh'
      'request'
      'reject'
      'replace'
      'report'
      'requested'
      'reserve'
      'reset'
      'result'
      'return'
      'right-justified'
      'rollback'
      'round'
      'rows'
      'rtti'
      'run'
      'scan'
      'screen'
      'scroll'
      'scroll-boundary'
      'search'
      'search'
      'select'
      'selection-screen'
      'selection-table'
      'select-options'
      'separated'
      'set'
      'shared'
      'shift'
      'sign'
      'sin'
      'single'
      'sinh'
      'size'
      'skip'
      'sort'
      'sorted'
      'source'
      'split'
      'sql'
      'sqrt'
      'stamp'
      'standard'
      'start-of-selection'
      'statics'
      'stop'
      'string'
      'strlen'
      'structure'
      'submit'
      'subtract'
      'subtract-corresponding'
      'sum'
      'supply'
      'suppress'
      'symbol'
      'syntax-check'
      'syntax-trace'
      'system-call'
      'system-exceptions'
      'tab'
      'tabbed'
      'table'
      'table_line'
      'tables'
      'tan'
      'tanh'
      'text'
      'textpool'
      'time'
      'times'
      'title'
      'titlebar'
      'to'
      'top-of-page'
      'transaction'
      'transfer'
      'transformation'
      'translate'
      'transporting'
      'trunc'
      'try'
      'type'
      'type-pool'
      'type-pools'
      'types'
      'uline'
      'unassign'
      'under'
      'unique'
      'unit'
      'unpack'
      'up'
      'update'
      'upper'
      'user-command'
      'using'
      'value'
      'value-request'
      'values'
      'vary'
      'when'
      'where'
      'while'
      'window'
      'visible'
      'with'
      'with-title'
      'work'
      'write'
      'xml'
      'xstring'
      'zone'
      'screen-active'
      'screen-group1'
      'screen-group2'
      'screen-group3'
      'screen-group4'
      'screen-input'
      'screen-intensified'
      'screen-invisible'
      'screen-length'
      'screen-name'
      'screen-output'
      'screen-required'
      'sy-abcde'
      'sy-appli'
      'sy-batch'
      'sy-batzd'
      'sy-batzm'
      'sy-batzo'
      'sy-batzs'
      'sy-batzw'
      'sy-binpt'
      'sy-brep4'
      'sy-bspld'
      'sy-calld'
      'sy-callr'
      'sy-ccurs'
      'sy-ccurt'
      'sy-cdate'
      'sy-cfwae'
      'sy-colno'
      'sy-cpage'
      'sy-cprog'
      'sy-ctabl'
      'sy-ctype'
      'sy-cucol'
      'sy-curow'
      'sy-datar'
      'sy-datlo'
      'sy-datum'
      'sy-dayst'
      'sy-dbcnt'
      'sy-dbnam'
      'sy-dbsys'
      'sy-dcsys'
      'sy-debug'
      'sy-dsnam'
      'sy-dyngr'
      'sy-dynnr'
      'sy-entry'
      'sy-fdayw'
      'sy-fdpos'
      'sy-ffile'
      'sy-fleng'
      'sy-fmkey'
      'sy-fodec'
      'sy-folen'
      'sy-ftype'
      'sy-group'
      'sy-host'
      'sy-chwae'
      'sy-index'
      'sy-input'
      'sy-langu'
      'sy-ldbpg'
      'sy-lilli'
      'sy-linct'
      'sy-linno'
      'sy-linsz'
      'sy-lisel'
      'sy-listi'
      'sy-locdb'
      'sy-locop'
      'sy-loopc'
      'sy-lpass'
      'sy-lsind'
      'sy-lstat'
      'sy-macdb'
      'sy-macol'
      'sy-mandt'
      'sy-marky'
      'sy-marow'
      'sy-modno'
      'sy-msgid'
      'sy-msgli'
      'sy-msgno'
      'sy-msgty'
      'sy-msgv1'
      'sy-msgv2'
      'sy-msgv3'
      'sy-msgv4'
      'sy-newpa'
      'sy-nrpag'
      'sy-oncom'
      'sy-opsys'
      'sy-paart'
      'sy-pagct'
      'sy-pagno'
      'sy-pauth'
      'sy-pdest'
      'sy-pexpi'
      'sy-pfkey'
      'sy-playo'
      'sy-playp'
      'sy-plist'
      'sy-pnwpa'
      'sy-prabt'
      'sy-prbig'
      'sy-prcop'
      'sy-prdsn'
      'sy-prefx'
      'sy-pri40'
      'sy-primm'
      'sy-prini'
      'sy-prlog'
      'sy-prnew'
      'sy-prrec'
      'sy-prrel'
      'sy-prtxt'
      'sy-repi2'
      'sy-repid'
      'sy-rstrt'
      'sy-rtitl'
      'sy-saprl'
      'sy-scols'
      'sy-sfnam'
      'sy-sfoff'
      'sy-slset'
      'sy-spono'
      'sy-sponr'
      'sy-srows'
      'sy-staco'
      'sy-staro'
      'sy-stepl'
      'sy-subcs'
      'sy-subrc'
      'sy-subty'
      'sy-sysid'
      'sy-tabid'
      'sy-tabix'
      'sy-tcode'
      'sy-tfdsn'
      'sy-tfill'
      'sy-timlo'
      'sy-title'
      'sy-tleng'
      'sy-tlopc'
      'sy-tmaxl'
      'sy-tname'
      'sy-toccu'
      'sy-tpagi'
      'sy-tstis'
      'sy-ttabc'
      'sy-ttabi'
      'sy-tvar0'
      'sy-tvar1'
      'sy-tvar2'
      'sy-tvar3'
      'sy-tvar4'
      'sy-tvar5'
      'sy-tvar6'
      'sy-tvar7'
      'sy-tvar8'
      'sy-tvar9'
      'sy-tzone'
      'sy-ucomm'
      'sy-uline'
      'sy-uname'
      'sy-uzeit'
      'sy-vline'
      'sy-waers'
      'sy-willi'
      'sy-winco'
      'sy-windi'
      'sy-winro'
      'sy-winsl'
      'sy-winx1'
      'sy-winx2'
      'sy-winy1'
      'sy-winy2'
      'sy-wtitl'
      'sy-xcode'
      'sy-xform'
      'sy-xprog'
      'sy-zonlo'
      'null'
      'space'
      'col_background'
      'col_group'
      'col_heading'
      'col_key'
      'col_negative'
      'col_normal'
      'col_positive'
      'col_total'
      'initial'
      'between'
      'ca'
      'cn'
      'co'
      'cp'
      'cs'
      'eq'
      'ge'
      'gt'
      'in'
      'is'
      'le'
      'lt'
      'na'
      'ne'
      'not'
      'np'
      'ns'
    ]
